@{
	ViewBag.Title = "О товаре";
}	

<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<partial name="~/Views/Home/Partial/_LeftSideBar.cshtml" />
				</div>
				
				<div class="col-sm-9 padding-right">
					<partial name="Partial/_ProductDetails" />
					
					<partial name="Partial/_CategoryTab" />
					
					<partial name="~/Views/Home/Partial/_RecomendedItems.cshtml" />
					
				</div>
			</div>
		</div>
	</section>